body {
    font-size: 14px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.main {
    margin: 0 auto;
    width: 1204px;
}
.header {
    height: 85px;
}
.header h1 {
    margin-top: 16px;
}
.header h1 span {
    display: none;
}
.header .nav {
    margin-left: 40px;
}
.header .nav a {
    margin-left: 45px;
    line-height: 85px;
    color: #2a2a2a;
}
.header .car {
    position: relative;
    z-index: 1;
    margin-right: 40px;
}
.link-car {
    line-height: 85px;
    color: #666767;
}
.icon-car {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    background: url("../images/icon.png") no-repeat;
}
.header .link {
    margin-right: 30px;
    line-height: 85px;
    color: #666767;
}
.header .nav a:hover, .header .link:hover, .car:hover .link-car {
    color: #2b7dd1;
}
.car .car-list {
    display: none;
    position: absolute;
    top: 62px;
    left: -150px;
    -webkit-box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.34);
    -moz-box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.34);
    box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.34);
    padding: 3px 14px 14px;
    width: 322px;
    background-color: #fff;
}
.car-list .title {
    height: 49px;
    line-height: 49px;
    font-weight: 500;
}
.car-list .title .fl {
    color: #333;
    font-size: 16px;
}

.car-list .title .fr {
    color: #7d7d7d;
    font-size: 12px;
}
.car-list .con {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}
.car-list .con .icon-big {
    margin: 59px auto 25px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background: url("../images/icon.png") no-repeat;
    background-color: #9e9e9e;
    background-position: -121px 17px;
}
.car-list .text1 {
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 23px;
    width: 190px;
    text-align: center;
    line-height: 14px;
    color: #414141;
}
.car-list .text2 {
    margin: 30px auto 56px;
    text-align: center;
    color: #4e91d7;
    line-height: 12px;
    font-size: 12px;
}
.car-list .car-bom {
    padding: 15px 2px 0 8px;
    line-height: 40px;
    font-size: 12px;
}
.car-list .car-bom a {
    float: right;
    border-radius: 3px;
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: #4e91d7;
    color: #fdfdfe;
}
.car-bom span {
    color: #7d7d7d;
}
.car:hover .car-list {
    display: block;
}
.car:hover .icon-car {
    background-position: -56px 0;
}

.banner {
    position: relative;
    overflow: hidden;
    height: 360px;
}
.banimg {
    width: 4816px;
}
.banimg img {
    width: 1204px;
}
.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 360px;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20); /*兼容ie低版本透明滤镜*/
}
.banner .subnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
}
.banner .subnav li {
    float: left;
    width: 240px;
    height: 72px;
}
.banner .subnav li > a {
    position: relative;
    /*z-css: 1;*/
    /*margin-top: -71px;*/
    display: block;
    margin-left: 25px;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 8px 0 10px;
    width: 172px;
    height: 71px;
    line-height: 71px;
    color: #fdfdfe;
}
.banner .subnav .icon {
    margin-top: 29px;
    width: 7px;
    height: 13px;
    background: url("../images/icon.png") no-repeat;
    background-position: -120px -67px;
    /*background: -120px -67px url("") transparent repeat;*/
    /*background: url("") repeat transparent 0 0;*/
}
.banner .hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 240px;
    width: 574px;
    height: 360px;
    background: url("../images/bg1.jpg") no-repeat;
}
.banner .hidden dl {
    padding: 30px 0 0 30px;
}
.banner .hidden dt {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 16px;
    color: #0b0b0b;
}
.banner .hidbg2 {
    background: url("../images/bg2.jpg");
}
.banner .hidden dd {
    margin-bottom: 23px;
    font-size: 14px;
}
.banner .hidden a {
    color: #4a4b4b;
}

.subnav li:hover .hidden {
    display: block;
}
.subnav .bg2 {
    display: none;
    position: relative;
    width: 240px;
    height: 71px;
    background: #000;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
}
.subnav li:hover .bg2 {
    display: block;
}
.subnav li:hover > a {
    margin-top: -71px;
}
/*实战推荐*/
.content {
    width: 1204px;
    margin-top: 39px;
}

.content h3 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: normal;
}

.content .item {
    margin-top: 20px;
}
.content .item ul{margin-left:-65px;}
.content .item li {
    position: relative;
    float: left;
    margin-left:65px;
    height: 184px;

}

.item .menu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 251px;
    /*box-shadow: 2px 2px 4px rgba(2,2,2,.27);*/
}

.item .menu .top {
    padding: 10px 12px 10px 15px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    transition: height 0.5s;
    background: url("../images/icon_bg.png") no-repeat #fff;



}
.item .menu .top:hover{
   /* display: block;*/
    height: 80px;


}

.menu .top p {
    font-size: 14px;
    color: #1e1e1e;
    margin-top:5px;
}
.menu .bot{
    padding:5px 12px 5px 15px;
    line-height: 42px;
    background-color: #fff;
}
.bot span{
    font-size:12px;
}
.bot .span1{
    color: #c71b1b;
}
.bot .span2{
    color: #868484;
}

.text {
    /*display: none;*/
    padding-top:5px;
    font-size: 12px;
    color: #9e9d9d;
}

/*footer*/
.footer-top{
    width:100%;
    background-color: #2e2e2e;
    border-bottom: 2px solid #020202;
}
.footer-top .main{
    width:1204px;
    margin:0 auto;
    padding-bottom:55px;
    *overflow: hidden;
}
.footer-top .fot-left{
    float: left;
    margin-left:-70px;
    margin-top: 47px;
    /*margin:47px 0 0 -70px;*/
}
.footer-top .fot-left dl{
    float: left;
    margin-left:70px;
}
.fot-left dl dt{
    font-size:16px;
    color: #fefdfd;
    line-height: 30px;
    text-shadow: 2px 2px 0 rgba(2,2,2,1);
    margin-bottom:16px;
    text-align: center;
}
.fot-left dl dd{
    font-size: 14px;
    line-height: 30px;
}
.fot-left dl dd a{
    color: #a3a3a3;
    text-shadow: 2px 2px 0 rgba(2,2,2,1);
}
.main .fot-right{
    float: right;
    margin:63px 26px 0 0;
}
.main .fot-right h4{
    width:200px;
    height: 65px;

}
.main .fot-right h4 a{
    display: inline-block;
    width:200px;
    height: 65px;
    background: url("../images/icon.png") no-repeat;
    background-position: 0 -127px;
}
.fot-icon{
    /*  margin-top: 16px;
      margin-left:-13px;*/
    margin:16px 0 0 -13px;
}
.fot-icon li{
    float: left;
    margin-left:13px;
    position: relative;/*相对定位*/
    cursor: pointer;
}
.fot-icon li:hover .hidden-bot{
    display: block;
}
.fot-icon .icon{
    /*display: block;*/
    float: left;
    width:45px;
    height: 45px;
    background: url("../images/icon.png") no-repeat;
}
.fot-icon .weibo{
    background-position: 0 -257px;

}
.fot-icon .weixin{
    background-position: -85px -257px;
}
.fot-icon .iphone{
    background-position: -171px -257px;
}
.fot-icon .android{
    background-position: -258px -257px;
}

.fot-icon .hidden-bot{
    position: absolute;
    display: none;
    left:-70px;
    top:-210px;
}
.fot-icon .small{
    position: absolute;
    bottom: -20px;
    left: 76px;
    border: 11px solid;
    border-color: #fff transparent transparent;
}
.footer-bot{
    width:100%;
    background-color: #212121;
    border-top:1px solid #5b5c5c;
    padding:18px 0 19px 0;
}
.footer-bot p{
    text-align: center;
    font-size: 14px;
    color: #a3a3a3;
    line-height: 30px;
}

.footer-bot span{
    font-weight: bold;/*字体加粗*/
    color: #cfcfcf;
}
.footer-bot p a{
    color: #cecccc;
}


/*con-main*/
.con-main{
    width:100%;
    background-color: #f3f5f7;
    margin-top:27px;
}
.con-info{
    width:1204px;
    margin:0 auto;
}
.con-info .con-left{
    float: left;
    margin:0 17px 0 15px;
}
.con-info .con-ban{
    float: left;
    width:397px;
}
.con-info .con-ban a{
    display: block;
    margin-bottom: 11px;
}
.item-middle{
    float: left;
    width:251px;
    margin-left:17px;
}
.item-middle li{
    float: left;
    position: relative;
    width: 251px;
    height: 184px;
    margin-bottom: 11px;
}
.con-info .course{
   background-color: #fff;
    height: 380px;
}
.course .list-right{
    width:205px;
    height: 30px;
    line-height: 30px;
    margin:0 26px;
    font-size:12px;
    color: #1e1e1e;
    white-space: nowrap;/*不换行*/
    overflow: hidden;/*超出隐藏*/
    text-overflow: ellipsis;/*省略号..*/
}
.course .list-right a{
    color: #1e1e1e;
}
.course .list-right .item-point{
    /*display: inline-block;*/
    float: left;
    width:4px;
    height: 4px;
    background-color: #636363;
    margin-top:13px;
    margin-right:8px;
}
.course .borderTop{
    border-top:1px solid  #e1e1e1;
    padding-top:17px;
}
.item-middle .no-shadow .menu{
    box-shadow: 0px 0px 0px rgba(255,255,255,1);
}
.course .bosom{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    width:21px;
    height: 21px;
    background-color: #b7b7b7;
    text-align: center;/*文本居中*/
    margin-right:8px;
}

/*侧边导航*/
.side-bar{
    position: fixed;
    right:0;
    top:80px;
    width:65px;
    height: 240px;
    border: 1px solid #f1f1f1\0;
    *border: 1px solid #f1f1f1;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(2,2,2,0.34);
}
.side-top{
    position: relative;
    margin:22px 15px 0px 12px;
    padding-bottom: 13px;
    border-bottom:1px solid #e1e1e1;
}
.side-bar .barInfo{
    display: block;
    margin-left:7px;
    width:24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #a3a3a3;
    border-radius: 50%;
    border:1px solid #a3a3a3;
    text-align: center;
}
.side-bar .side-top:hover .side-hidden{
    display: block;
}
.side-bar .side-hidden{
    position: absolute;
    left: 8px;
    top: -1px;
    display: none;
    float: left;
    width:24px;
    height: 24px;
    font-size: 12px;
    color: #185b8f;
    line-height: 14px;
}
.side-bar .barIphone{
    width:20px;
    height: 30px;
    margin-left:10px;
    background: url("../images/icon.png") no-repeat;
    background-position: -58px -59px;
    border:none;
    border-radius:inherit;
}
.side-bar .side-iphone{
    margin:16px 15px 16px 12px;
}
.side-bar .iphone-ewm{
    display: none;
    position: absolute;
    left: -202px;
    bottom: -68px;
}
.side-bar .side-top:hover .iphone-ewm{
    display: block;
}
.side-bar .barWeixin{
    width:22px;
    height: 22px;
    background-position: 0 -63px;
}
.side-bar .noBorder{
    border:none;
}
