body{
    font-size: 0;
}
li{
    display: inline-block;
    margin-left:65px;
}
.div1 ul{
    list-style: none;
    margin-left:-65px;}
body,ul,p{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
.div1{
    width: 1199px;
    background-color: #868484;
    margin: auto;
}
.div2{
    width: 221px;
    height: 112px;
    background-image: url("../img/2.jpg");
}
p{
    color: #1e1e1e;
    font-size: 14px;
    line-height: 22px;
}
.div2{
    padding: 0 14px 0 16px;
}
.p1{
    padding-top: 18px;
}
.p2{
    padding-bottom: 24px;
}
span{
    font-size: 12px;
}
.span1{
    color: #c71b1b;
}
 .span2{
    color: #868484;
    padding-left: 80px;
}



