body,ul,p,a,img,h1,h2,h3,h4,h5,h6{
    padding:0;margin:0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none; /*去掉默认下划线*/
}

.header{
    margin:0 auto;
    width:1204px;
    background-color: #ccc;
}
.header h1{
    display: inline-block;
    margin:16px 85px 16px 0;
}
.header .nav{
    display: inline-block;/*行内块*/
    vertical-align: top;/*改变对齐方式:基线对齐*/
}
.header .nav ul{
    margin-left:-60px;
}
.header .nav li{
    display: inline-block;
    height: 84px;
    line-height: 84px;
    font-size: 14px;
    margin-left:60px;
}
.header .nav a{
    color: #2a2a2a;
}
.header .nav a:hover{
    color:#2b7dd1;
}
.header .right{
    display: inline-block;/*行内块*/
    vertical-align: top;
    margin-left:60px;
}
.right .car{
    display: inline-block;
    height: 84px;
    line-height: 84px;
    color: #666767;
    font-size: 14px;
    margin-right:35px;
}
.right .car i{
    display: inline-block;
    width:24px;
    height: 22px;
    background-image: url("../img/icon.png");
    vertical-align: middle;
    padding-right:7px;
}
.right .link1{
    height: 84px;
    line-height: 84px;
    color: #666767;
    font-size:14px;
    padding-right:35px;

}












.car-box{
    display: none;/*让盒子消失不见,隐藏*/
}


